  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    <p> MERL Center is a project of   <img src="img/MERLTech-logo.jpg" width="30px" /> and <img src="img/social-impact.png" width="120px" /></p>
                </div>
                <div class="col-md-4"></div>
				<div class="col-md-4 text-right">
                    <span class="copyright">(c) MERL Center {{ 'now' | date: "%Y" }}</span>
                </div>
            </div>
        </div>
    </footer>
